<!DOCTYPE html>
<html>
  <head>
    <title>Schedule</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <header> 
    <p class="header_text">スケジュール管理アプリ</p>
  </header>

  <body>

    <!-- 成功フラッシュメッセージの表示　-->
    <% if notice %>
        <p class="notice"><%= notice %></p>
    <% end %>

    <%= yield %>

    <div class="debug"><%= debug(params) if Rails.env.development? %></div> <!--開発環境のみでデバッグ情報を表示-->

  </body>
</html>
